[submodule "third_party/iree"]
	path = third_party/iree
	url = https://github.com/iree-org/iree.git
[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/iree-org/llvm-project
[submodule "third_party/coralnpu"]
	path = third_party/coralnpu
	url = https://github.com/google-coral/coralnpu
	branch = main
